@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.cabecalho {
    font-family: 'Poppins', sans-serif;
    background-color: #81B29A;
    padding: 40px;
    border-bottom: 1.5px solid gray;
}

.cabecalho__itens {
    display: flex;
    justify-content: space-between;
}

.cabecalho__titulo {
    font-size: 2em;
    font-weight: 700;
}

.paginas {
    padding-top: .5em;
}

.paginas a {
    margin: .25em;
    padding: 10px;
    text-decoration: none;
    font-size: 1.1em;
    color: black;
    background-color: #9DD3B9;
    border-radius: 35px;
}

.paginas a:hover {
    color: #3D405B;
}

.principal {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
}

.titulo__sobremim, .titulo__conhecimentos {
    margin-top: 1em;
    font-size: 4em;
    font-weight: 500;
}

.imagem_bio {
    border: 2px solid black;
    border-radius: 50%;
    margin: 50px 0;
    width: 15em;
    height: 15em;
}

.icones_conhecimentos {
    width: 10em;
    height: 10em;
    border: 2px solid gray;
    border-radius: 50%;
    margin: 5em 2em;
}